<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

   <body>
    <header>
      <nav class="navbar navbar-expend-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><span>Bookers</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expended="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
    <% if user_signed_in? %>
     <li class="nav-link text-light"><i class="fas fa-home"></i><%= link_to "Home", user_path(current_user.id) %>
     </li>
     <li><a class="nav-link text-light" href="/users"><i class="fas fa-users"></i>Users</a>
     </li>
     <li>
       <a class="nav-link text-light" href="/books"><i class="fas fa-book-open"></i>Books</a>
     </li>
      <li class="nav-link text-light" href=><i class="fas fa-sign-out-alt"></i><%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </li>

      
    <% else %>
     <li><a class="nav-link text-light" href=""><i class="fas fa-home"></i>Home</a></li>
     <li><a class="nav-link text-light" href="/home/about"><i class="fas fa-link"></i>About</a>
     </li>
     <li>
       <a class="nav-link text-light" href="/users/sign_up"><i class="fas fa-user-plus"></i>Sign up</a>
     </li>
      <a class="nav-link text-light" href="users/sign_in"><i class="fas fa-sign-in-alt"></i>Log in</a>
      </li>
      
    <% end %>
    </ul>
    </div>
    </div>
    </nav>        
  </header>
  <main>
  <%= yield %>
  </main>
  <footer>
     <i class="fa-solid fa-user-gear"></i>
    <div class="container mt-5">
      <div class="row">
      <div class="mx-auto">
        <p>CopyRight Infratop.inc</p>
      </div>
      </div>
    </div>
  </footer>
    
  </body>
</html>
